<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215676738486-dk9q3dikfpnmie82rp3hs7d9erue452n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215676738486-dk9q3dikfpnmie82rp3hs7d9erue452n</string>
	<key>API_KEY</key>
	<string>AIzaSyDdow4wkb2O3HRwHI9IfqT3OUBFmMYQjMw</string>
	<key>GCM_SENDER_ID</key>
	<string>215676738486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nekrasova.authentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-94e35</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-94e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215676738486:ios:64db813d878f4abf6d3f17</string>
</dict>
</plist>