<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Разрешить приложению &quot;PhotoEdit&quot; доступ к изображениям?</string>
	<key>NSCameraUsageDescription</key>
	<string>Разрешить приложению &quot;PhotoEdit&quot; доступ к камере?</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.215676738486-dk9q3dikfpnmie82rp3hs7d9erue452n</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
